@tailwind base;
@tailwind components;
@tailwind utilities;

/*element plus  */
.el-menu--horizontal .el-menu-item.is-active {
    color: var(--el-menu-active-color);
    height: auto;
}

.el-carousel__arrow {
    z-index: 2 !important;
}

.el-drawer {
    background: #000 !important;

    .el-drawer__header {
        margin-bottom: 20px;

        .el-drawer__title {
            font-size: 13px;
            color: rgba(255, 255, 255, 0.7);
        }
    }
    .el-drawer__body {
        padding: 0;
    }
}